.filter-metal__title
  font-size $font+6
  padding-left 31px
  display block
  border-bottom 1px solid #e2e0e0
  margin-bottom 15px

.filter-metal__ul
  list-style none
  margin-left -10px

.filter-metal__link
  font-size $font+2
  text-decoration none
  color #000000
  &:hover,visited
    color #000000

.filter-metal__item_active
  font-size $font+2
  text-decoration none
  color $main-link-color