.filter-stone__title
  font-size $font+6
  padding-left 31px
  display block
  border-bottom 1px solid #e2e0e0
  margin-bottom 15px
  margin-top 20px

.filter-stone__ul
  list-style none
  margin-left -10px

.filter-stone__link
  font-size $font+2
  text-decoration none
  color #000000
  &:hover,visited
    color #000000