.filter-price-form
  margin-left 31px
  margin-top 27px
  margin-bottom 32px

.filter-price-form__before-form
  padding 0
  margin 0
  width 75px
  height 30px
  text-align center
  line-height 30px

.filter-price-form__from-form
  padding 0
  margin 0
  width 75px
  height 30px
  text-align center
  line-height 30px

.filter-price-form__before-text
  font-size $font+6

.filter-price-form__from-text
  font-size $font+6

.filter-price-form__icon-search
  background url($url "/assets/images/icon-search_small.png") no-repeat 50% 50%
  width 14px
  height 14px
  display inline-block
  border none
  margin-left 7px



