.header-menu
  float left
  margin-top 50px
  margin-left  80px

.header-menu__ul
  list-style none

.header-menu__li
  float left
  font-size $font+2
  font-family $font-family-arial
  margin 10px

.header-menu__link
  text-decoration none
  color #000000
  &:visited
    color #000000
