.header-logo
  float left
  margin-top 35px

.header-logo__image
  background url($url "/assets/images/logo.png") no-repeat
  display inline-block
  width 273px
  height 43px

.header-logo__bottom-text
  display block
  margin-left:60px

