.header-work
  float left
  margin-left 824px

.header-work__icon-clock
  background url($url "/assets/images/icon-clock.png") no-repeat 50% 50%
  padding-top 6px
  width 29px
  height 29px
  display inline-block

.header-work__text-work
  font-size $font + 2
  position relative
  top -12px