.header-phone
  float left

.header-phone__text-phone
  font-size $font + 8
  position relative
  top -10px

.header-phone__icon-phone
  background url($url "/assets/images/icon-phone.png") no-repeat 50% 50%
  padding-top 6px
  width 29px
  height 29px
  display inline-block