.footer-delivery__title
  font-size $font+12
  display block

.footer-delivery__post
  display inline-block
  width 83px
  height 45px
  background url($url "/assets/images/post.png") no-repeat 50% 50%
  margin-right 10px

.footer-delivery__spr
  display inline-block
  width 62px
  height 41px
  background url($url "/assets/images/spr.png") no-repeat 50% 50%
  margin-right 10px

.footer-delivery__courier
  display inline-block
  width 21px
  height 23px
  background url($url "/assets/images/courier.png") no-repeat 50% 50%
  margin-right 10px
  position relative
  top -18px