.footer-payments__title
  font-size $font+12
  display block

.footer-payments__image
  background url($url "/assets/images/payments.png") no-repeat 50% 50%
  display inline-block
  width 202px
  height 49px

.footer-payments__text
  font-size $font+2
  display block
  margin-bottom 17px