.footer-news
  float left
  margin-left 60px
  border-left 1px solid #999999
  border-right 1px solid #999999
  height 210px
  width 395px
  position: relative;
  top: -22px;

.footer-news__title
  font-size $font+12
  display block
  margin-top 20px
  margin-left 55px

.footer-news__text
  margin-left 55px
  margin-top 20px
  text-decoration none
  font-size $font+2
  color #000000