.footer-social
  margin-top 15px

.footer-social__icon-instagram
  background url($url "/assets/images/icon-instagram.png") no-repeat 50% 50%
  display inline-block
  width 19px
  height 20px
  margin-right 5px

.footer-social__icon-behance
  background url($url "/assets/images/icon-behance.png") no-repeat 50% 50%
  display inline-block
  width 19px
  height 20px
  margin-right 5px

.footer-social__icon-facebook
  background url($url "/assets/images/icon-facebook.png") no-repeat 50% 50%
  display inline-block
  width 19px
  height 20px
  margin-right 5px

.footer-social__icon-skype
  background url($url "/assets/images/icon-skype.png") no-repeat 50% 50%
  display inline-block
  width 19px
  height 20px
  margin-right 5px