.callback-form
  font-family  Calibri-light
  width 825px
  margin-top 45px
  margin-left 30px
  float left

.callback-form__title
  font-size $font+12

.callback-form__text
  font-size $font+2
  text-align justify
  margin-right 87px

.callback-form__form
  margin-top 25px

.callback-form__name
  font-size $font+2
  font-family $font-family-arial
  font-style italic
  width 201px
  padding 10px 0 10px 15px
  border 1px solid #d0d0d0
  margin-right 22px

.callback-form__phone
  font-size $font+2
  font-family $font-family-arial
  font-style italic
  width 201px
  padding 10px 0 10px 15px
  margin-right 26px
  border 1px solid #d0d0d0

.callback-form__submit
  background url($url "/assets/images/callback-form__submit.png")
  font-size $font+6
  font-family $font-family-calibri
  font-weight bold
  width 220px
  padding 12px 0 12px 0px
  border none
  box-shadow 4px 4px 10px 0px rgba(0,0,0,0.451)

.callback-form__hr_transform90
  transform rotate(90deg)
  width 210px
  float right
  position relative
  top -103px
  left 105px
  color #cccccc
