.good-price
  font-size $font+4
  margin-top 22px

.good-price__price
  float right
  margin-right 20px
  color #f63
  margin-top 3px
  font-size $font+18

.good-price__size
  float left
  margin-right 20px
  margin-left 12px

.good-price__qty
  float left

.good-price__input
  width 26px
  height 36px
  text-align center
  color #666666
  border 1px solid #d0d0d0
  border-width 1px
  font-size $font+4

.good-price__select
  width 70px
  height 40px
  text-align center
  color #666666
  border 1px solid #d0d0d0
  border-width 1px
  background #ffffff
  border-radius 0
  font-size $font+4

.good-price__btn
  padding 0
  width 30px
  height 40px
  text-align center
  color #666666
  border 1px solid #d0d0d0
  border-width 1px
  font-size $font+4
  background #ffffff
  &:first-child
    margin-left 20px

.good-price__select
  margin-left 20px