.good-desc

  margin 0 auto
  margin-top 25px
  background #f6f6f6
  box-shadow 0px -1px 15px 0px rgba(0,0,0,0.451)

.good-desc__title
  width 1144px
  margin 0 auto
  padding-top 33px
  font-size  $font+12
  position relative
  top 7px
  margin-bottom 31px


.good-desc__text
  font-size $font+2
  width 1144px
  margin 0 auto
  &:last-child
    padding-bottom 45px
    margin-bottom 40px
