.good
  background #ffffff
  margin-top 32px

.good__text
  font-size $font+5
  line-height 28px
  color #666666
  &_black
    font-size $font+5
    line-height 28px

.good__availability
  font-size $font+5
  line-height 28px
  color #33cc33

.good__value
  font-style italic

.good-left
  float left

.good-right
  float left
  margin-left 70px

.good__desc
  padding-left 12px
  width 507px
  border-bottom 1px solid #cccccc

.good__add-to-cart
  margin-top 40px

.good__delivery
  background url($url "/assets/images/icon-delivery.png") no-repeat
  display inline-block
  width 49px
  height 32px
  float left
  margin-top 8.5px

.good__delivery-text
  font-size $font+4
  line-height 49px
  float left
  margin-left 20px
  color #666666

.good__add-to-cart-button
  background url($url "/assets/images/good__add-to-cart-button.png") no-repeat 50% 50%
  width 177px
  height 40px
  border 0
  margin 0
  padding 0
  float right
  font-size $font+10
  text-transform uppercase
  font-weight bold