.icon-cart
  background url($url "/assets/images/icon-cart.png") no-repeat 50% 50%
  padding-top 6px
  width 29px
  height 29px
  display inline-block

.icon-cart_gray
  background url($url "/assets/images/icon-cart_gray.png") no-repeat 50% 50%
  padding-top 11px
  width 17px
  height 19px
  display inline-block