.main-block-title
  width 1140px
  margin 0 auto
  padding-top 60px
  padding-bottom 30px

.main-block-title__title
  font-size  $font+12
  position relative
  top 7px

.main-block-title__show-all
  position relative
  top 14px
  float right
  font-size $font+2
  color #999999

.main-block-title__link
  text-decoration none
  color #999999