.newsletter
  margin-left 55px

.newsletter__input
  line-height 38px
  border 1px solid #d0d0d0
  background none
  width 218px
  display inline
  font-size $font+2
  font-family $font-family-arial
  font-style italic
  padding 0 0 0 15px

.newsletter__submit
  background: url(/gold777/images/icon-ok.png) no-repeat 50% 50%
  width 63px
  height 40px
  padding 0
  margin 0
  border-top 1px solid #d0d0d0
  border-right 1px solid #d0d0d0
  border-bottom 1px solid #d0d0d0
  border-left 0px
  line-height 40px
  position relative
  top 14px
  left -5px