.product-popup
  display none
  position relative
  background #ffffff
  z-index 999
  top -277px
  left -133px
  width 337px
  height 280px
  border 1px solid #cccccc
  font-style normal
  font Calibri
  line-height 11px
  &__title
    display block
    font-weight normal
  &__text
    display block
    font-weight bold
    margin-bottom 10px

.product-popup__info
  float left
  width 127px
  margin-top 14px
  margin-left 13px

.product-popup__buy
  float left
  width 197px
  height 257px

.product-popup__code
  margin-bottom 20px
  display block

.product-popup__product-title
  font-size $font+2
  text-decoration underline
  width 199px
  display block
  float right
  margin-right 10px

.product-popup__price
  margin-right 15px
  color #ff6633
  font-size $font+6
  flex 0 0 auto
  float right

.product-popup__button
  display inline-block
  background url($url "/assets/images/product-popup__button.png")
  font-size $font+1
  font-weight bold
  text-transform uppercase
  width 104px
  height 23px
  text-align center
  line-height 23px
  box-shadow 0px 3px 10px 0px rgba(0, 0, 0, 0.451)
  margin-top 22px
  margin-left -14px
  