.products
  height 293px
  border-bottom 1px solid #ebebeb
  position relative
  width 864px
  padding-left 12px
  &_1140px
    margin 0 auto
    width 1140px
    margin-top 25px
  &_people-choose
    background #ffffff
    margin 0 auto
    width 1140px
  &_discount
    background #ffffff
    margin 0 auto
    max-width 1140px
    width 100%
    &:last-child
      border-bottom 0px
      margin-bottom 10px
  &__people-choose-wrapper
    box-shadow 12px 5px 11px 0px rgba(0,0,0,0.451)
    margin 0 auto
    width 1140px
  &__people-choose
    background #f6f6f6
    box-shadow inset 0px -1px 15px 0px rgba(0,0,0,0.451)
    padding-bottom 45px
    margin-bottom 45px
    &:last-child
      margin-bottom 45px