.product-one
  width 247px
  float left
  margin-top 5px
  height 274px
  margin 0 19px
  &_catalog
    width 210px
    float left
    margin-top 5px
    height 274px

.product-one__title
  margin-left 5px
  display block
  font-size $font+2

.product-one__price
  float right
  margin-right 20px
  margin-top 7px
  color #ff6633
  font-size $font+6

.product-one__discount
  font-size $font+4
  color #999999
  position relative
  top -30px
  left 147px
  text-decoration line-through