.same-goods
  margin 0 auto
  width 100%

.same-goods__title
  font-size  $font+12
  position relative
  top 7px

.same-goods__show-all
  position relative
  top 14px
  float right
  font-size $font+2
  color #999999

.same-goods__link
  text-decoration none
  color #999999