@import "variables.styl"
@import "body.styl"

@import "clear.styl"
@import "breadcrumbs.styl"
@import "products.styl"
@import "icon-cart.styl"
@import "callback-form.styl"
@import "triggers.styl"
@import "linkmore.styl"
@import "pagination.styl"
@import "product-popup.styl"

@import "header/header-wrapper.styl"
@import "header/header.styl"
@import "header/header-infobar.styl"
@import "header/header-phone.styl"
@import "header/header-work.styl"
@import "header/header-logo.styl"
@import "header/header-menu.styl"
@import "header/header-cart.styl"

@import "main/main.styl"
@import "main/main-search.styl"
@import "main/main-left-block.styl"
@import "main/main-right-block.styl"
@import "main/main-menu.styl"
@import "main/main-filters.styl"
@import "main/main-category-info.styl"
@import "main/main-sort.styl"
@import "main/main-product.styl"
@import "main/main-marketing.styl"

@import "footer/footer.styl"
@import "footer/footer-wrapper.styl"
@import "footer/footer-about.styl"
@import "footer/footer-info.styl"
@import "footer/footer-social.styl"
@import "newsletter.styl"
@import "footer/footer-news.styl"
@import "footer/footer-payments.styl"
@import "footer/footer-delivery.styl"
@import "footer/footer-payments-and-delivery.styl"

@import "filters/filter-brand.styl"
@import "filters/filter-characteristic.styl"
@import "filters/filter-collection.styl"
@import "filters/filter-content.styl"
@import "filters/filter-created-by.styl"
@import "filters/filter-metal.styl"
@import "filters/filter-price.styl"
@import "filters/filter-size.styl"
@import "filters/filter-stone.styl"
@import "filters/filter-price-form.styl"
@import "filters/filter-brand.styl"
@import "filters/filter-characteristic.styl"
@import "filters/filter-collection.styl"
@import "filters/filter-content.styl"
@import "filters/filter-created-by.styl"
@import "filters/filter-metal.styl"
@import "filters/filter-price.styl"
@import "filters/filter-size.styl"
@import "filters/filter-stone.styl"
@import "filters/filter-price-form.styl"

@import "same-goods.styl"
@import "good.styl"
@import "good-price.styl"
@import "good-desc.styl"
@import "slider.styl"
@import "main-block-title.styl"
@import "product-one.styl"