.triggers
  float left
  margin-top 43px
  margin-left 60px

.triggers__item
  text-decoration none
  font-family  Calibri-light
  font-size $font+12
  margin-left 15px
  margin-top 10px

.triggers__icon-arrow_back
  background url($url "/assets/images/icon-arrow_back.png") no-repeat 50% 50%
  width 24px
  height 21px
  display inline-block

.triggers__icon-mail
  background url($url "/assets/images/icon-mail.png") no-repeat 50% 50%
  width 23px
  height 20px
  display inline-block

.triggers__icon-setting
  background url($url "/assets/images/icon-setting.png") no-repeat 50% 50%
  width 25px
  height 26px
  display inline-block

.triggers__icon-star
  background url($url "/assets/images/icon-star.png") no-repeat 50% 50%
  width 24px
  height 24px
  display inline-block
