.main-sort
  height 34px

.main-sort__title
  display inline
  position relative
  top 7px

.main-sort__sort
  float right
  position relative
  top 14px

.main-sort__price-link
  text-decoration none
  color $main-link-color

.main-sort__arrow_rotate90
  transform rotate(90deg)
  display inline-block
  font-size $font+6
  margin-left 5px

.main-sort__qty-link
  font-style italic
  text-decoration none
  color $main-link-color