.main-marketing
  border 1px solid #999999
  width 1198px
  height 230px
  box-shadow 3px 3px 10px 0px rgba(0,0,0,0.451)
  margin 0 auto
  background #fff
  &_top20px
    position relative
    top 20px