.main-search
  font-size $font+2
  height 40px
  border 1px solid #d0d0d0
  position relative
  top -18px
  background #fff
  opacity .8
  box-shadow 0px 2px 7px 0px rgba(0, 0, 0, 0.53)
  margin 0 auto
  max-width 1140px

.main-search__left-block
  height inherit
  float left
  border-right 1px solid #d0d0d0
  line-height 40px
  width 824px

.main-search__icon-search
  background url($url "/assets/images/icon-search.png") no-repeat 50% 50%
  padding-top 6px
  width 20px
  height 29px
  display inline-block
  float right
  margin-right 20px

.main-search__popular-text
  font-family $font-family-arial
  margin 11.5px

.main-search__popular-link
  font-family Arial
  font-style italic
  text-decoration none
  color $main-link-color
  margin 10px

.main-search__input
  margin-left 25px
  line-height 40px
  border 0
  background none
  width 238px
  display inline
  font-size $font+2
  font-family $font-family-arial
  font-style italic