.main-product
  width 210px
  float left
  margin-top 5px
  height 274px
  &_same
    width 247px
    float left
    margin-top 5px
    height 274px
    margin-right 43px
  &_same:last-child
    margin-right 0

.main-product__title
  margin-left 5px
  display block
  font-size $font+2

.main-product__price
  float right
  margin-right 20px
  margin-top 9px
  color #ff6633
  font-size $font+6