* {
  margin: 0;
}
body {
  width: 100%;
  font-size: 12px;
  font-family: "Calibri";
}
.clear {
  clear: both;
}
.breadcrumbs {
  position: relative;
  top: 14px;
  float: right;
  font-size: 14px;
  color: #999;
}
.breadcrumbs__link {
  text-decoration: none;
  color: #36f;
}
.products {
  height: 293px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  width: 864px;
  padding-left: 12px;
}
.products_1140px {
  margin: 0 auto;
  width: 1140px;
  margin-top: 25px;
}
.products_people-choose {
  background: #fff;
  margin: 0 auto;
  width: 1140px;
}
.products_discount {
  background: #fff;
  margin: 0 auto;
  width: 1140px;
}
.products_discount:last-child {
  border-bottom: 0px;
  margin-bottom: 10px;
}
.products__people-choose-wrapper {
  box-shadow: 12px 5px 11px 0px rgba(0,0,0,0.451);
  margin: 0 auto;
  width: 1140px;
}
.products__people-choose {
  background: #f6f6f6;
  box-shadow: inset 0px -1px 15px 0px rgba(0,0,0,0.451);
  padding-bottom: 45px;
  margin-bottom: 45px;
}
.products__people-choose:last-child {
  margin-bottom: 45px;
}
.icon-cart {
  background: url("/gold777/images/icon-cart.png") no-repeat 50% 50%;
  padding-top: 6px;
  width: 29px;
  height: 29px;
  display: inline-block;
}
.icon-cart_gray {
  background: url("/gold777/images/icon-cart_gray.png") no-repeat 50% 50%;
  padding-top: 11px;
  width: 17px;
  height: 19px;
  display: inline-block;
}
.callback-form {
  font-family: Calibri-light;
  width: 825px;
  margin-top: 45px;
  margin-left: 30px;
  float: left;
}
.callback-form__title {
  font-size: 24px;
}
.callback-form__text {
  font-size: 14px;
  text-align: justify;
  margin-right: 87px;
}
.callback-form__form {
  margin-top: 25px;
}
.callback-form__name {
  font-size: 14px;
  font-family: "Arial";
  font-style: italic;
  width: 201px;
  padding: 10px 0 10px 15px;
  border: 1px solid #d0d0d0;
  margin-right: 22px;
}
.callback-form__phone {
  font-size: 14px;
  font-family: "Arial";
  font-style: italic;
  width: 201px;
  padding: 10px 0 10px 15px;
  margin-right: 26px;
  border: 1px solid #d0d0d0;
}
.callback-form__submit {
  background: url("/gold777/images/callback-form__submit.png");
  font-size: 18px;
  font-family: "Calibri";
  font-weight: bold;
  width: 220px;
  padding: 12px 0 12px 0px;
  border: none;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.451);
}
.callback-form__hr_transform90 {
  transform: rotate(90deg);
  width: 210px;
  float: right;
  position: relative;
  top: -103px;
  left: 105px;
  color: #ccc;
}
.triggers {
  float: left;
  margin-top: 43px;
  margin-left: 60px;
}
.triggers__item {
  text-decoration: none;
  font-family: Calibri-light;
  font-size: 24px;
  margin-left: 15px;
  margin-top: 10px;
}
.triggers__icon-arrow_back {
  background: url("/gold777/images/icon-arrow_back.png") no-repeat 50% 50%;
  width: 24px;
  height: 21px;
  display: inline-block;
}
.triggers__icon-mail {
  background: url("/gold777/images/icon-mail.png") no-repeat 50% 50%;
  width: 23px;
  height: 20px;
  display: inline-block;
}
.triggers__icon-setting {
  background: url("/gold777/images/icon-setting.png") no-repeat 50% 50%;
  width: 25px;
  height: 26px;
  display: inline-block;
}
.triggers__icon-star {
  background: url("/gold777/images/icon-star.png") no-repeat 50% 50%;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.linkmore {
  float: right;
  position: relative;
  left: 20px;
  margin-right: 87px;
  text-decoration: none;
}
.pagination {
  float: right;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  font-style: italic;
}
.pagination__current-page {
  color: #999;
}
.pagination__page-link {
  color: #36f;
  text-decoration: none;
}
.pagination__more-pages {
  color: #999;
}
.pagination__next-button {
  margin: 28px;
  margin: 0px;
  padding: 3.5px 6.5px;
  font-style: normal;
  color: #36f;
  border: 1px solid #d0d0d0;
}
.pagination__last-button {
  margin: 28px;
  margin: 0px;
  padding: 3.5px 6.5px;
  font-style: normal;
  color: #36f;
  border: 1px solid #d0d0d0;
}
.product-popup {
  display: none;
  position: relative;
  background: #fff;
  z-index: 999;
  top: -277px;
  left: -133px;
  width: 337px;
  height: 280px;
  border: 1px solid #ccc;
  font-style: normal;
  font: Calibri;
  line-height: 11px;
}
.product-popup__title {
  display: block;
  font-weight: normal;
}
.product-popup__text {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.product-popup__info {
  float: left;
  width: 127px;
  margin-top: 14px;
  margin-left: 13px;
}
.product-popup__buy {
  float: left;
  width: 197px;
  height: 257px;
}
.product-popup__code {
  margin-bottom: 20px;
  display: block;
}
.product-popup__product-title {
  font-size: 14px;
  text-decoration: underline;
  width: 199px;
  display: block;
  float: right;
  margin-right: 10px;
}
.product-popup__price {
  margin-right: 15px;
  color: #f63;
  font-size: 18px;
  flex: 0 0 auto;
  float: right;
}
.product-popup__button {
  display: inline-block;
  background: url("/gold777/images/product-popup__button.png");
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  width: 104px;
  height: 23px;
  text-align: center;
  line-height: 23px;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.451);
  margin-top: 22px;
  margin-left: -14px;
}
.header-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}
.header {
  background: url("/gold777/images/header-background.png") no-repeat 50% 100%;
  height: 185px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.53);
}
.header-infobar {
  background: url("/gold777/images/header-infobar.png");
  height: 40px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.451);
}
.header-phone {
  float: left;
}
.header-phone__text-phone {
  font-size: 20px;
  position: relative;
  top: -10px;
}
.header-phone__icon-phone {
  background: url("/gold777/images/icon-phone.png") no-repeat 50% 50%;
  padding-top: 6px;
  width: 29px;
  height: 29px;
  display: inline-block;
}
.header-work {
  float: left;
  margin-left: 824px;
}
.header-work__icon-clock {
  background: url("/gold777/images/icon-clock.png") no-repeat 50% 50%;
  padding-top: 6px;
  width: 29px;
  height: 29px;
  display: inline-block;
}
.header-work__text-work {
  font-size: 14px;
  position: relative;
  top: -12px;
}
.header-logo {
  float: left;
  margin-top: 35px;
}
.header-logo__image {
  background: url("/gold777/images/logo.png") no-repeat;
  display: inline-block;
  width: 273px;
  height: 43px;
}
.header-logo__bottom-text {
  display: block;
  margin-left: 60px;
}
.header-menu {
  float: left;
  margin-top: 50px;
  margin-left: 80px;
}
.header-menu__ul {
  list-style: none;
}
.header-menu__li {
  float: left;
  font-size: 14px;
  font-family: "Arial";
  margin: 10px;
}
.header-menu__link {
  text-decoration: none;
  color: #000;
}
.header-menu__link:visited {
  color: #000;
}
.header-cart {
  float: right;
  margin-top: 47px;
}
.header-cart__text-cart {
  font-size: 14px;
  position: relative;
  top: -12px;
}
.main {
  margin: 0 auto;
  max-width: 1140px;
}
.main-search {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d0d0d0;
  position: relative;
  top: -18px;
  background: #fff;
  opacity: 0.8;
  box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.53);
  margin: 0 auto;
  max-width: 1140px;
}
.main-search__left-block {
  height: inherit;
  float: left;
  border-right: 1px solid #d0d0d0;
  line-height: 40px;
  width: 824px;
}
.main-search__icon-search {
  background: url("/gold777/images/icon-search.png") no-repeat 50% 50%;
  padding-top: 6px;
  width: 20px;
  height: 29px;
  display: inline-block;
  float: right;
  margin-right: 20px;
}
.main-search__popular-text {
  font-family: "Arial";
  margin: 11.5px;
}
.main-search__popular-link {
  font-family: Arial;
  font-style: italic;
  text-decoration: none;
  color: #36f;
  margin: 10px;
}
.main-search__input {
  margin-left: 25px;
  line-height: 40px;
  border: 0;
  background: none;
  width: 238px;
  display: inline;
  font-size: 14px;
  font-family: "Arial";
  font-style: italic;
}
.main-left-block {
  float: left;
}
.main-right-block {
  width: 840px;
  float: left;
  margin-left: 30px;
}
.main-menu {
  background: #f6f6f6;
  width: 270px;
  font: "Calibri";
}
.main-menu_popup {
  background: #fff;
  width: 275px;
  position: absolute;
  z-index: 9999;
  top: 266px;
  left: 420px;
}
.main-menu__title {
  font-weight: bold;
  height: 39px;
  line-height: 39px;
  padding-left: 31px;
  font-size: 24px;
  background: url("/gold777/images/main-menu.png") no-repeat;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.451);
}
.main-menu__ul {
  position: relative;
  left: -40px;
  width: 100%;
}
.main-menu__ul_popup {
  margin-left: -40px;
  position: absolute;
  top: 0px;
  left: 310px;
  width: 275px;
  display: none;
}
.main-menu__li {
  list-style: none;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e2e0e0;
}
.main-menu__li:hover {
  background: #fff;
}
.main-menu__li_popup {
  list-style: none;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e2e0e0;
  color: #000;
  background: #fff;
}
.main-menu__li_popup:hover {
  background: #ccc;
  color: #36f;
}
.main-menu__li_popup:first-child,
.main-menu__li_popup:last-child {
  height: 45px;
  line-height: 45px;
}
.main-menu__li:first-child,
.main-menu__li:last-child {
  height: 45px;
  line-height: 45px;
}
.main-menu__link {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  margin-left: 31px;
}
.main-menu__link_popup {
  font-size: 18px;
  text-decoration: none;
  color: inherit;
  margin-left: 31px;
}
.main-menu__arrow {
  float: right;
  margin-right: 20px;
  font-size: 20px;
  color: #d8d8d8;
}
.main-filters {
  width: 270px;
  float: left;
}
.main-category-info {
  height: 28px;
}
.main-category__title {
  font-size: 24px;
  position: relative;
  top: 7px;
}
.main-sort {
  height: 34px;
}
.main-sort__title {
  display: inline;
  position: relative;
  top: 7px;
}
.main-sort__sort {
  float: right;
  position: relative;
  top: 14px;
}
.main-sort__price-link {
  text-decoration: none;
  color: #36f;
}
.main-sort__arrow_rotate90 {
  transform: rotate(90deg);
  display: inline-block;
  font-size: 18px;
  margin-left: 5px;
}
.main-sort__qty-link {
  font-style: italic;
  text-decoration: none;
  color: #36f;
}
.main-product {
  width: 210px;
  float: left;
  margin-top: 5px;
  height: 274px;
}
.main-product_same {
  width: 247px;
  float: left;
  margin-top: 5px;
  height: 274px;
  margin-right: 43px;
}
.main-product_same:last-child {
  margin-right: 0;
}
.main-product__title {
  margin-left: 5px;
  display: block;
  font-size: 14px;
}
.main-product__price {
  float: right;
  margin-right: 20px;
  margin-top: 9px;
  color: #f63;
  font-size: 18px;
}
.main-marketing {
  border: 1px solid #999;
  width: 1198px;
  height: 230px;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.451);
  margin: 0 auto;
  background: #fff;
}
.main-marketing_top20px {
  position: relative;
  top: 20px;
}
.footer {
  height: 100%;
}
.footer__infobar {
  background: url("/gold777/images/footer-background.png");
  display: inline-block;
  height: 45px;
  width: 100%;
  margin-bottom: 38px;
}
.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-about {
  float: left;
  padding-left: 70px;
}
.footer-about__title {
  font-size: 24px;
}
.footer-about__ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.footer-about__link {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}
.footer-info {
  float: left;
  margin-left: 41px;
}
.footer-info__title {
  font-size: 24px;
}
.footer-info__ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.footer-info__link {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}
.footer-social {
  margin-top: 15px;
}
.footer-social__icon-instagram {
  background: url("/gold777/images/icon-instagram.png") no-repeat 50% 50%;
  display: inline-block;
  width: 19px;
  height: 20px;
  margin-right: 5px;
}
.footer-social__icon-behance {
  background: url("/gold777/images/icon-behance.png") no-repeat 50% 50%;
  display: inline-block;
  width: 19px;
  height: 20px;
  margin-right: 5px;
}
.footer-social__icon-facebook {
  background: url("/gold777/images/icon-facebook.png") no-repeat 50% 50%;
  display: inline-block;
  width: 19px;
  height: 20px;
  margin-right: 5px;
}
.footer-social__icon-skype {
  background: url("/gold777/images/icon-skype.png") no-repeat 50% 50%;
  display: inline-block;
  width: 19px;
  height: 20px;
  margin-right: 5px;
}
.newsletter {
  margin-left: 55px;
}
.newsletter__input {
  line-height: 38px;
  border: 1px solid #d0d0d0;
  background: none;
  width: 218px;
  display: inline;
  font-size: 14px;
  font-family: "Arial";
  font-style: italic;
  padding: 0 0 0 15px;
}
.newsletter__submit {
  background: url("/gold777/images/icon-ok.png") no-repeat 50% 50%;
  width: 63px;
  height: 40px;
  padding: 0;
  margin: 0;
  border-top: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  border-left: 0px;
  line-height: 40px;
  position: relative;
  top: 14px;
  left: -5px;
}
.footer-news {
  float: left;
  margin-left: 60px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  height: 210px;
  width: 395px;
  position: relative;
  top: -22px;
}
.footer-news__title {
  font-size: 24px;
  display: block;
  margin-top: 20px;
  margin-left: 55px;
}
.footer-news__text {
  margin-left: 55px;
  margin-top: 20px;
  text-decoration: none;
  font-size: 14px;
  color: #000;
}
.footer-payments__title {
  font-size: 24px;
  display: block;
}
.footer-payments__image {
  background: url("/gold777/images/payments.png") no-repeat 50% 50%;
  display: inline-block;
  width: 202px;
  height: 49px;
}
.footer-payments__text {
  font-size: 14px;
  display: block;
  margin-bottom: 17px;
}
.footer-delivery__title {
  font-size: 24px;
  display: block;
}
.footer-delivery__post {
  display: inline-block;
  width: 83px;
  height: 45px;
  background: url("/gold777/images/post.png") no-repeat 50% 50%;
  margin-right: 10px;
}
.footer-delivery__spr {
  display: inline-block;
  width: 62px;
  height: 41px;
  background: url("/gold777/images/spr.png") no-repeat 50% 50%;
  margin-right: 10px;
}
.footer-delivery__courier {
  display: inline-block;
  width: 21px;
  height: 23px;
  background: url("/gold777/images/courier.png") no-repeat 50% 50%;
  margin-right: 10px;
  position: relative;
  top: -18px;
}
.footer-payments-and-delivery {
  float: left;
  margin-left: 44px;
  position: relative;
  top: -2px;
}
.filter-brand__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-brand__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-brand__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-brand__link:hover,
.filter-brand__link visited {
  color: #000;
}
.filter-characteristic__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-characteristic__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-characteristic__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-characteristic__link:hover,
.filter-characteristic__link visited {
  color: #000;
}
.filter-collection__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-collection__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-collection__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-collection__link:hover,
.filter-collection__link visited {
  color: #000;
}
.filter-content__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-content__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-content__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-content__link:hover,
.filter-content__link visited {
  color: #000;
}
.filter-created-by__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-created-by__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-created-by__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-created-by__link:hover,
.filter-created-by__link visited {
  color: #000;
}
.filter-metal__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
}
.filter-metal__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-metal__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-metal__link:hover,
.filter-metal__link visited {
  color: #000;
}
.filter-metal__item_active {
  font-size: 14px;
  text-decoration: none;
  color: #36f;
}
.filter-price__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  margin-top: 30px;
  border-bottom: 1px solid #e2e0e0;
}
.filter-size__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-size__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-size__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-size__link:hover,
.filter-size__link visited {
  color: #000;
}
.filter-stone__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-stone__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-stone__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-stone__link:hover,
.filter-stone__link visited {
  color: #000;
}
.filter-price-form {
  margin-left: 31px;
  margin-top: 27px;
  margin-bottom: 32px;
}
.filter-price-form__before-form {
  padding: 0;
  margin: 0;
  width: 75px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.filter-price-form__from-form {
  padding: 0;
  margin: 0;
  width: 75px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.filter-price-form__before-text {
  font-size: 18px;
}
.filter-price-form__from-text {
  font-size: 18px;
}
.filter-price-form__icon-search {
  background: url("/gold777/images/icon-search_small.png") no-repeat 50% 50%;
  width: 14px;
  height: 14px;
  display: inline-block;
  border: none;
  margin-left: 7px;
}
.filter-brand__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-brand__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-brand__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-brand__link:hover,
.filter-brand__link visited {
  color: #000;
}
.filter-characteristic__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-characteristic__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-characteristic__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-characteristic__link:hover,
.filter-characteristic__link visited {
  color: #000;
}
.filter-collection__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-collection__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-collection__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-collection__link:hover,
.filter-collection__link visited {
  color: #000;
}
.filter-content__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-content__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-content__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-content__link:hover,
.filter-content__link visited {
  color: #000;
}
.filter-created-by__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-created-by__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-created-by__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-created-by__link:hover,
.filter-created-by__link visited {
  color: #000;
}
.filter-metal__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
}
.filter-metal__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-metal__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-metal__link:hover,
.filter-metal__link visited {
  color: #000;
}
.filter-metal__item_active {
  font-size: 14px;
  text-decoration: none;
  color: #36f;
}
.filter-price__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  margin-top: 30px;
  border-bottom: 1px solid #e2e0e0;
}
.filter-size__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-size__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-size__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-size__link:hover,
.filter-size__link visited {
  color: #000;
}
.filter-stone__title {
  font-size: 18px;
  padding-left: 31px;
  display: block;
  border-bottom: 1px solid #e2e0e0;
  margin-bottom: 15px;
  margin-top: 20px;
}
.filter-stone__ul {
  list-style: none;
  margin-left: -10px;
}
.filter-stone__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.filter-stone__link:hover,
.filter-stone__link visited {
  color: #000;
}
.filter-price-form {
  margin-left: 31px;
  margin-top: 27px;
  margin-bottom: 32px;
}
.filter-price-form__before-form {
  padding: 0;
  margin: 0;
  width: 75px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.filter-price-form__from-form {
  padding: 0;
  margin: 0;
  width: 75px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.filter-price-form__before-text {
  font-size: 18px;
}
.filter-price-form__from-text {
  font-size: 18px;
}
.filter-price-form__icon-search {
  background: url("/gold777/images/icon-search_small.png") no-repeat 50% 50%;
  width: 14px;
  height: 14px;
  display: inline-block;
  border: none;
  margin-left: 7px;
}
.same-goods {
  margin: 0 auto;
  width: 100%;
}
.same-goods__title {
  font-size: 24px;
  position: relative;
  top: 7px;
}
.same-goods__show-all {
  position: relative;
  top: 14px;
  float: right;
  font-size: 14px;
  color: #999;
}
.same-goods__link {
  text-decoration: none;
  color: #999;
}
.good {
  background: #fff;
  margin-top: 32px;
}
.good__text {
  font-size: 17px;
  line-height: 28px;
  color: #666;
}
.good__text_black {
  font-size: 17px;
  line-height: 28px;
}
.good__availability {
  font-size: 17px;
  line-height: 28px;
  color: #3c3;
}
.good__value {
  font-style: italic;
}
.good-left {
  float: left;
}
.good-right {
  float: left;
  margin-left: 70px;
}
.good__desc {
  padding-left: 12px;
  width: 507px;
  border-bottom: 1px solid #ccc;
}
.good__add-to-cart {
  margin-top: 40px;
}
.good__delivery {
  background: url("/gold777/images/icon-delivery.png") no-repeat;
  display: inline-block;
  width: 49px;
  height: 32px;
  float: left;
  margin-top: 8.5px;
}
.good__delivery-text {
  font-size: 16px;
  line-height: 49px;
  float: left;
  margin-left: 20px;
  color: #666;
}
.good__add-to-cart-button {
  background: url("/gold777/images/good__add-to-cart-button.png") no-repeat 50% 50%;
  width: 177px;
  height: 40px;
  border: 0;
  margin: 0;
  padding: 0;
  float: right;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}
.good-price {
  font-size: 16px;
  margin-top: 22px;
}
.good-price__price {
  float: right;
  margin-right: 20px;
  color: #f63;
  margin-top: 3px;
  font-size: 30px;
}
.good-price__size {
  float: left;
  margin-right: 20px;
  margin-left: 12px;
}
.good-price__qty {
  float: left;
}
.good-price__input {
  width: 26px;
  height: 36px;
  text-align: center;
  color: #666;
  border: 1px solid #d0d0d0;
  border-width: 1px;
  font-size: 16px;
}
.good-price__select {
  width: 70px;
  height: 40px;
  text-align: center;
  color: #666;
  border: 1px solid #d0d0d0;
  border-width: 1px;
  background: #fff;
  border-radius: 0;
  font-size: 16px;
}
.good-price__btn {
  padding: 0;
  width: 30px;
  height: 40px;
  text-align: center;
  color: #666;
  border: 1px solid #d0d0d0;
  border-width: 1px;
  font-size: 16px;
  background: #fff;
}
.good-price__btn:first-child {
  margin-left: 20px;
}
.good-price__select {
  margin-left: 20px;
}
.good-desc {
  margin: 0 auto;
  margin-top: 25px;
  background: #f6f6f6;
  box-shadow: 0px -1px 15px 0px rgba(0,0,0,0.451);
}
.good-desc__title {
  width: 1144px;
  margin: 0 auto;
  padding-top: 33px;
  font-size: 24px;
  position: relative;
  top: 7px;
  margin-bottom: 31px;
}
.good-desc__text {
  font-size: 14px;
  width: 1144px;
  margin: 0 auto;
}
.good-desc__text:last-child {
  padding-bottom: 45px;
  margin-bottom: 40px;
}
.slider__image {
  height: 459px;
}
.main-block-title {
  width: 1140px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
}
.main-block-title__title {
  font-size: 24px;
  position: relative;
  top: 7px;
}
.main-block-title__show-all {
  position: relative;
  top: 14px;
  float: right;
  font-size: 14px;
  color: #999;
}
.main-block-title__link {
  text-decoration: none;
  color: #999;
}
.product-one {
  width: 247px;
  float: left;
  margin-top: 5px;
  height: 274px;
  margin: 0 19px;
}
.product-one_catalog {
  width: 210px;
  float: left;
  margin-top: 5px;
  height: 274px;
}
.product-one__title {
  margin-left: 5px;
  display: block;
  font-size: 14px;
}
.product-one__price {
  float: right;
  margin-right: 20px;
  margin-top: 7px;
  color: #f63;
  font-size: 18px;
}
.product-one__discount {
  font-size: 16px;
  color: #999;
  position: relative;
  top: -30px;
  left: 147px;
  text-decoration: line-through;
}
